@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 13em;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-bottom: 0px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

section {
  width: 60%;
  margin: 20px;
  padding: 20px;
  text-align: left;
}

header#accueil,
#membre4 > header,
#membre3 > header {
  background-color: #111;
  color: white;
  font-family: "Heebo", sans-serif;
  letter-spacing: 0.2rem;
}
header#accueil h1,
#membre4 > header h1,
#membre3 > header h1 {
  font-weight: 200;
}
header#accueil h2,
#membre4 > header h2,
#membre3 > header h2 {
  font-weight: 200;
  letter-spacing: 0.2rem;
}
header#accueil h2 span,
#membre4 > header h2 span,
#membre3 > header h2 span {
  color: greenyellow;
  font-weight: 300;
  letter-spacing: 0.25rem;
}
header#accueil a,
#membre4 > header a,
#membre3 > header a {
  border: 1px solid rgba(255, 255, 255, 0);
  color: white;
  font-weight: 200;
  letter-spacing: 0.15em;
  padding: 0.2em 1em;
  text-decoration: none;
}
header#accueil a:hover,
#membre4 > header a:hover,
#membre3 > header a:hover {
  background-color: white;
  color: black;
  font-weight: 300;
  padding: 0.2em 1em;
  padding-inline: 1em;
}
header#accueil .actif,
#membre4 > header .actif,
#membre3 > header .actif {
  background-color: white;
  color: black;
  font-weight: 400;
  padding: 0.2em 1em;
  padding-inline: 1em;
}
header#accueil .actif:hover,
#membre4 > header .actif:hover,
#membre3 > header .actif:hover {
  font-weight: 400;
}

.image {
  margin-top: 2rem;
}

#membre1 .membre1 {
  background-color: lightcoral;
}

#membre2 .membre2 {
  background-color: lightgreen;
}

#membre3 .membre3 {
  background-color: #111;
  color: #fff;
}

#membre4 .membre4 {
  background-color: #111;
}
#membre4 .membre4 a {
  color: rgb(115, 115, 115);
}
#membre4 .membre4 .actif {
  color: black;
}
#membre4 .membre4 h2 {
  font-weight: 300;
}
#membre4 .membre4 h2 .attribut {
  color: rgb(198, 136, 255);
}
#membre4 .membre4 h2 .guillemets {
  color: rgb(255, 167, 135);
}
#membre4 .membre4 h2 .variable {
  color: rgb(183, 255, 74);
}
#membre4 .membre4 h2 .valeur {
  color: rgb(128, 219, 255);
}
#membre4 main {
  background: #111;
  flex-wrap: wrap;
  font-family: "Heebo", sans-serif;
  margin: 1rem;
}
#membre4 main section {
  width: 42vw;
}
#membre4 main section div {
  padding: 2rem;
}
#membre4 main section h3 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin: 1rem 1rem 0 0;
  text-align: right;
}
#membre4 main section h4 {
  margin-bottom: 0;
}
#membre4 main section p {
  margin-top: 0.25rem;
}
#membre4 main .objectifs {
  background-color: rgb(128, 219, 255);
}
#membre4 main .objectifs:hover {
  box-shadow: 0 0 1rem rgba(128, 219, 255, 0.75);
}
#membre4 main .objectifs:hover h3 {
  color: rgba(0, 0, 0, 0.75);
}
#membre4 main .a_propos {
  background-color: rgb(198, 136, 255);
}
#membre4 main .a_propos:hover {
  box-shadow: 0 0 0.6rem rgba(198, 136, 255, 0.75);
}
#membre4 main .a_propos:hover h3 {
  color: rgba(0, 0, 0, 0.75);
}
#membre4 main .experience_travail {
  background-color: rgb(183, 255, 74);
}
#membre4 main .experience_travail:hover {
  box-shadow: 0 0 0.6rem rgba(183, 255, 74, 0.75);
}
#membre4 main .experience_travail:hover h3 {
  color: rgba(0, 0, 0, 0.75);
}
#membre4 main .experience_additionnelles {
  background-color: rgb(255, 167, 135);
}
#membre4 main .experience_additionnelles:hover {
  box-shadow: 0 0 0.8rem rgba(255, 167, 135, 0.75);
}
#membre4 main .experience_additionnelles:hover h3 {
  color: rgba(0, 0, 0, 0.75);
}

#membre5 {
  background-color: #222;
  color: #f8f8f8;
  font-family: "Montserrat", sans-serif;
}
#membre5 header.membre5 h1 {
  padding-top: 80px;
  font-size: 3rem;
  font-family: "Style Script", cursive;
  margin-top: 50px;
  margin-bottom: 0;
}
#membre5 header.membre5 h1 span.prenom {
  color: #358085;
}
#membre5 header.membre5 h1 span.nom {
  color: #a04970;
}
#membre5 header.membre5 h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 1.3rem;
}
#membre5 header.membre5 nav {
  width: 100%;
  background-image: linear-gradient(to right, #a04970, #358085);
  position: fixed;
}
#membre5 header.membre5 nav ul {
  margin: 20px 0;
}
#membre5 header.membre5 nav ul a {
  color: #f8f8f8;
  text-decoration: none;
}
#membre5 header.membre5 nav ul a:hover {
  color: #222;
}
#membre5 header.membre5 nav ul a.actif {
  font-weight: 700;
  color: #222;
}
#membre5 main {
  line-height: 140%;
}
#membre5 main h3 {
  font-size: 1.5rem;
  color: #a04970;
  padding-bottom: 10px;
  border-bottom: 1px solid #a04970;
  text-transform: uppercase;
}
#membre5 main h4 {
  color: #358085;
}
#membre5 main h5 {
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: -1em;
}/*# sourceMappingURL=style.css.map */